*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
:root {
   /* Color Variables */
   --white-100: #fff;
   --white-200: #ddd;
   --global-bg: #918c36;  /* Global Background */
   --header-footer-bg: #1E88E5;  /* Header footer*/
   --main-bg: #f5f5f5;  /* Main Background */
   --hover-active-color: #FFC107;  /* Hover color */
   --card-bg: #4b72c0;  /* Card Background */
   --tag-bg: #ffeda2;  /* Tag Background */
   --input-field-text: 1px solid #ddd;  /* Input text field */
   --bookmark-color: #9b0707;  /* Bookmark color */

    /* button */
    --btn-shadow:  0 0 0.2rem 0 rgba(0, 0, 0, 0.4);
    --btn-default: #2b8800;
    --btn-default-gardient: linear-gradient(#4fa626, #2b8800);
    --btn-default-hover: #7cc45a;
    --btn-default-gardient-hover: linear-gradient(#7cc45a, #4fa626)
   
   /* Color for Categories */
   --category-bg-allgemeinwissen: #f43636;
   --category-bg-tiere: #fb8c00;
   --category-bg-geographie: #ffeda2;
   --category-bg-geschichte: #d32f2f;
   --category-bg-musik: #8e24aa;
   --category-bg-filme: #3949ab;
   --category-bg-actor: #3c0ff0;
   --category-bg-essen: #43a047;
}

body {
  background-color: var(--global-bg);
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}