@import "global.css";
@import "components/header.css";
@import "components/main.css";
@import "components/cards.css";
@import "components/footer.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    /* Color Variables */
--global-bg: #00ACC1;  /* Global Background */
--header-footer-bg: #1E88E5;  /* Header footer*/
--main-bg: #f5f5f5;  /* Main Background */
--hover-active-color: #FFC107;  /* Hover color */
--card-bg: #43A047;  /* Card Background */
--tag-bg: #ffeda2;  /* Tag Background */
--input-field-text: 1px solid #ddd;  /* Input text field */

/* Color for Categories */
--category-bg-allgemeinwissen: #f43636;
--category-bg-tiere: #fb8c00;
--category-bg-geographie: #ffeda2;
--category-bg-geschichte: #d32f2f;
--category-bg-musik: #8e24aa;
--category-bg-filme: #3949ab;
--category-bg-actor: #3c0ff0;
--category-bg-essen: #43a047;

}
  




