:root {
  --primary: #ffffff;
  --secondary: #ff4a11;
  --secondary-light: #fddcd2;
  --white: #ffffff;
  --black: #252629;
  --background: var(--white);
  --foreground: var(--black);
  --ff-primary: sans-serif;
  --ff-serif: serif;
  --fs-200: 0.6rem;
  --fs-300: 0.8rem;
  --fs-400: 1rem;
  --fs-500: 1.1rem;
  --fs-600: 1.5rem;
  --fs-900: 1.75rem;


/* Own */
--creamewhite:#F5F5DC;
--beige:#F5F5F0;
--forestgreen: #006400;
--darkgreen:#228B22;
--medium-sea-green: #3CB371;
--sea-green: #2E8B57;
--olive:#556B2F;
--green-yellow: #ADFF2F;
--pale-green: #98FB98;
--light-green: #90EE90;
--darkbrown: #654321;
--skyblue: #87CEEB;
--steelblue: #4682B4;
--darkgray:#2F4F4F;

--bgBody: var(--creamewhite);
--bgHeader: var(--forestgreen);
--bgCard: var(--beige);
--borderCard: var(--darkbrown);
--buttonColor: var(--darkgreen);
--cardTag: var(--sea-green);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: var(--ff-primary);
  color: var(--foreground);
  background-color: var(--bgBody)
}

button {
  font-size: var(--fs-400);
  font-family: var(--ff-primary);
  color: var(--black);
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li,
ol li {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.hidden {
  visibility: hidden;
}
