.card {
  background-color: var(--bgCard);
  border: 1px solid var(--borderCard);
  border-radius: var(--fs-200);
  padding: 2rem;
  text-align: center;
  position: relative;
}

.card__question {
  margin: 0 0 2rem;
}

.card__button-answer,
.card-create__button-submit {
  display: block;
  background: var(--darkgreen);
  color: var(--white);
  border: none;
  border-radius: var(--fs-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  padding: 1rem;
  margin-bottom: 1rem;
  margin-inline: auto;
  letter-spacing: 0.1rem;
  min-width: 10rem;
}

.card__button-answer:hover,
.card-create__button-submit:hover {
  opacity: 0.75;
  cursor: pointer;
  transform: translate(0, -2px);
}

.card__answer {
  margin: 0 2rem;
  font-style: italic;
  display: none;
}

.card__answer--active {
  display: block;
}

.card__button-bookmark {
  position: absolute;
  right: 1rem;
  top: -1.5rem;
}

.card__tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 20px;
}

.card__tag-list-item {
  background-color: var(--cardTag);
  color: var(--white);
  border-radius: 4px;
  padding: 0 5px;
  border-radius: var(--fs-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
