.card {
    padding: 2rem 1rem;
    background-color: var(--card-bg);
    position: relative;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card__question {
    margin-bottom: 1.5rem;
  }
/*   
  .card__button {
    background-color: transparent;
    display: block;
    border: none;
    color: inherit;
    font-size: 1rem;
    font-weight: bold;
    margin-inline: auto;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    border-radius: 999px;
    cursor: pointer;
  }
  
  .card__button:hover {
    background-color: var(--gray-900);
  } */
  
  .card__answer {
    display: none;
    text-align: center;
    background-color: var(--white-200);
    padding-block: 1rem;
    color: var(--gray-900);
    font-size: 1.5rem;
    margin: auto;
    margin-bottom: 1rem;
    border: 1px solid;
    border-radius: .75rem;
    width: calc(100vw - 20rem);
    min-width: calc(100vw - 5rem);;
  }
  
  .visible {
    display: block;
  }
  .card__answerfield {
    width: 100%;
    padding: .5rem;
    margin-bottom: 1rem;
    border: var(--input-field-text);
    border-radius: .25rem;
}