/* Styles for the cards 

.card {
    background-color: var(--card-bg);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card__title {
    font-size: 1rem;
    margin-top: .5rem;
    margin-bottom: .75rem;
}
.card__question {
    font-size: 1.2em;
    margin-bottom: 8px;
}

.card__answerfield {
    width: 100%;
    padding: .5rem;
    margin-bottom: 1rem;
    border: var(--input-field-text);
    border-radius: .25rem;
}

*/