main {
    background-color: var(--main-bg);
}
.quiz-section {
    width: 100vw;
}


.main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    min-height: calc(100vh - 100px);
    width: 100vw;
    background-color: var(--main-bg)
}


@media (min-width: 768px) {
    .main-content {
        flex-direction: row;
        align-items: flex-start;
    }
}